* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  header {
    background-color: rgb(75, 28, 28);
    color: #fff;
    padding: 20px;
    text-align: center;

  }
  
  h1 {
    font-size: 36px;
    margin: 0;
  }
  
  p {
    font-size: 18px;
    margin: 10px 0;
  }
  
  nav {
    background-color: rgb(116, 60, 60);
    padding: 10px;
    text-align: center;
    

  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
  }

  .imagenChiquita {
    width: 30vw;
    padding-top: 2cm;
    padding-right: 2cm;
    padding-left: 2cm;
    filter: drop-shadow(10px 10px 5px rgb(190, 190, 190));
  }
  .lorem-texto-info{
    margin-top: 90px;
    font-family: Arial, Helvetica, sans-serif;
  }
.contenedor{
    background-color: rgb(255, 255, 255);
    height: 370px;
}