
<footer class="footer-bomberos">
    <div>
      <p>Número de emergencia: 100</p>
      <p>Teléfono: +54 03548 42-2631</p>
    </div>
    <div>
      <a href="https://www.instagram.com/bomberos_lafalda/?hl=es" target="_blank">instagram</a>
      <a href="https://www.facebook.com/people/Bomberos-Voluntarios-La-Falda/100090244821628/?locale=hi_es" target="_blank">facebook</a>
    </div>
</footer>
<footer>
    <p>&copy; 2023 Proa La Falda. Todos los derechos reservados.</p>
    <p>@escuelasproa.edu.ar</p>
</footer>

