<div class="container-fluid">
  <div class="row">
      <div class="col-4">
        <div class="contenedor">
          <div class="contenedor-login">
            <h1>REGISTRO</h1>
            <form action="">
              <Label class="">Nombre: </Label>
              <input class="input-1" type="text"><br>
              <label class="label-2">DNI: </label>
              <input class="input-2" type="number"><br>
              <Label class="">Rango: </Label>
              <input class="input-3" type="text"><br>
              <label class="label-2">Contraseña: </label>
              <input class="input-4" type="password">
              <button>Registrar</button>
            </form>
          </div>
      </div> 
      </div>
  </div>
</div>  
 

