
.contenedor-login{
width: 600px;
height: 500px;
background-color:#330101 ;
margin-left: 400px;
margin-top: 30px;
border: solid 2px rgb(68, 67, 67);
border-radius: 20px;

} 
.contenedor-login h1{
color: #dedede;
}
.contenedor-login button{
padding: 15px ;
margin-left: 60%;
font-family: inherit;
padding-left: 40px;
padding-right: 40px;
margin-top: 20px;
border-radius: 9px;

}
.contenedor h1{
margin: 20px;
text-align: center;
}

.contenedor input{
width: 50%;
padding: 10px;
margin-bottom: 10px;
background-color: #fafafa;
border: 1px solid #dedede;
border-radius: 2px;

}
input:hover{
background-color:rgb(204, 192, 192);
}



label{
margin-left: 20px;
color: rgb(245, 242, 242);
font-weight: 700;
}

.label-2{
margin-left: 20px;
margin-right: -20px;

}
form{
margin-top: 60px;
}
.input-3 {
  margin-left: 80px;
  margin-top: 20px;
}
.input-4 {
  margin-left: 69px;
  margin-top: 20px;
}
.input-2 {
  margin-left: 120px;
  margin-top: 20px;
}
.input-1{
  margin-left: 70px;
  }
   