<div class="contenedor">
    <img src="img/bomberoslafalda.jpg" alt="" class="imagenChiquita">

    <p class="texto-info"><span> 7 DE AGOSTO DE 1969 62 AÑOS AL SERVICIO DE LA COMUNIDAD , LA FALDA- CORDOBA</span> <br>
      El cuerpo de bomberos de La Falda realiza capacitaciones para voluntarios, en tierra, a la hora de apagar incendios ya sean forestales o estructurales, y en agua capacitaciones para rescates. Estas capacitaciones se emplean en conjunto con otras centrales. También trabajan colaborativamente cunto a otros cuarteles cuando ocurre un siniestro utilizando nuestros equipamientos. Además de esto ayudan a nuestra comunidad local ante alertas meteorológicas.
    </p>
</div>