<div class="container-fluid">
    <div class="row">
        <div class="col">
          <div class="contenedor">
            <div class="contenedor-login">
              <h1>LOGIN</h1>
              <form action="">
                <Label class="">Gmail: </Label>
                <input class="input-1" type="text"><br>
                <label class="label-2">Contraseña: </label>
                <input class="input-2" type="password">
                <button>Iniciar sesion</button>
              </form>
            </div>
          </div> 
        </div>
      </div>
</div>

 

